name: release

on:
  workflow_dispatch:
    inputs:
      options:
        description:
          Addional arguments send to nx release, if empty uses conventional-commits.
          https://nx.dev/nx-api/nx/documents/release
        type: string
        required: false

permissions:
  id-token: write
  contents: write

env:
  HUSKY: 0
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
      - name: Setup Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - run: yarn install --immutable
      - name: Nx release
        run: yarn nx release --skip-publish ${{ github.event.inputs.options }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn build
      - name: Nx release
        run: yarn nx release publish ${{ github.event.inputs.options }}
